.upload-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; 
  }
  
  .profile-img {
    width: 50px;
    border-radius: 50%;
  }
  
  .error-message {
    margin-left: 1rem; 
  }
  
  @media (max-width: 768px) {
    .upload-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem; 
    }
  
    .profile-img {
      margin-left: 0;
      margin-top: 1rem; 
    }
  
    .error-message {
      margin-left: 0;
      margin-top: 1rem; 
    }
  }
  