<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['username','email','role','registrationDate','lastLoginDate']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gérer les utilisateurs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="imageName">Image <p-sortIcon field="imageName"></p-sortIcon></th>
                        <th pSortableColumn="username">Nom d'utilisateur <p-sortIcon field="username"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="gender">Genre <p-sortIcon field="gender"></p-sortIcon></th>
                        <th pSortableColumn="role">Rôle <p-sortIcon field="role"></p-sortIcon></th>
                        <th pSortableColumn="lastLoginDate">Dernière connexion <p-sortIcon field="lastLoginDate"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{user.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Image</span>
                            <ng-container *ngIf="!user.imageName">
                                <img src="assets/demo/images/640751.png" alt="640751" width="70" class="shadow-4" style="border-radius: 50%;" />
                            </ng-container>
                            <ng-container *ngIf="user.imageName">
                                <img [src]="apiUrl + '/user/download/' + user.imageName" [alt]="user.imageName" width="70" class="shadow-4" style="border-radius: 50%;" />
                            </ng-container>                        
                        </td>
                        
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nom d'utilisateur</span>
                            {{user.username}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{user.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Genre</span>
                            <span *ngIf="user.gender === 'HOMME'; else female">
                                <span class="customer-badge status-new">Homme ♂</span>
                            </span>
                            <ng-template #female>
                                <span class="customer-badge status-unqualified">Femme ♀</span>
                            </ng-template>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Rôle</span>
                            <span *ngIf="user?.roles && user.roles[0]?.name === 'ROLE_USER'; else admin">
                                <span class="customer-badge status-qualified">Utilisateur</span>
                            </span>
                            <ng-template #admin>
                                <span class="customer-badge status-renewal">Admin</span>
                            </ng-template>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Dernière connexion</span>
                            <span>
                                {{ user.lastLoginDate | date:'dd MMMM yyyy' }}
                            </span>
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Détails de l'utilisateur" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form #userForm="ngForm" (ngSubmit)="saveUser(userForm)">
                    <div class="field">
                        <label for="username">Nom d'utilisateur :</label>
                        <input type="text" pInputText id="username" placeholder="Nom d'utilisateur" name="username" [(ngModel)]="user.username" required minlength="3" maxlength="20" #username="ngModel" [ngClass]="{ 'ng-invalid ng-dirty': username.touched && username.invalid }"/>
                        <p-message *ngIf="submitted ||username.touched && username.errors?.required" severity="error" text="Champ requis."></p-message>
                        <p-message *ngIf="username.touched && username.errors?.minlength" severity="error" text="Le nom d'utilisateur doit comporter au moins 3 caractères."></p-message>
                        <p-message *ngIf="username.touched && username.errors?.maxlength" severity="error" text="Le nom d'utilisateur doit comporter au maximum 20 caractères."></p-message>
                    </div>

                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" pInputText id="email" placeholder="Email" name="email" [(ngModel)]="user.email" required email #email="ngModel" [ngClass]="{ 'ng-invalid ng-dirty': email.touched && email.invalid }"/>
                        <p-message *ngIf="submitted ||email.touched && email.errors?.required" severity="error" text="Champ requis."></p-message>
                        <p-message *ngIf="email.touched && email.errors?.email" severity="error" text="L'email doit être une adresse email valide."></p-message>
                    </div>

                    <div class="field">
                        <label for="password">Mot de passe :</label>
                        <div class="p-inputgroup">
                            <input [type]="showPassword ? 'text' : 'password'" pInputText id="password" placeholder="Mot de passe" name="password" [(ngModel)]="user.password" required minlength="6" #password="ngModel" [ngClass]="{ 'ng-invalid ng-dirty': password.touched && password.invalid }" [disabled]="editing"/>
                            <button pButton type="button" [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button-secondary" (click)="toggleShowPassword()" [disabled]="editing"></button>
                        </div>                        
                        <p-message *ngIf="submitted ||password.touched && password.errors?.required" severity="error" text="Mot de passe requis."></p-message>
                        <p-message *ngIf="password.touched && password.errors?.minlength" severity="error" text="Le mot de passe doit comporter au moins 6 caractères."></p-message>
                    </div>

                    <div class="field">
                        <label for="gender">Genre :</label>
                        <p-dropdown placeholder="Genre"
                            [options]="genderOptions"
                            [(ngModel)]="user.gender"
                            name="gender"
                            required
                            #gender="ngModel"
                            [ngClass]="{ 'ng-invalid ng-dirty': gender.touched && gender.invalid }"></p-dropdown>
                        <p-message *ngIf="submitted ||gender.touched && gender.errors?.required" severity="error" text="Sélectionnez un genre."></p-message>
                    </div>

    
                    <div class="field">
                        <label for="imageName">Image:</label>
                        <div class="upload-container">
                            <p-fileUpload
                                mode="basic"
                                name="image"
                                accept="image/*"
                                maxFileSize="1000000"
                                customUpload="true"
                                (uploadHandler)="onUpload($event)"
                                [auto]="true"
                                [disabled]="userImageUploaded">
                            </p-fileUpload>
                            <label class="file-name">{{user.imageName}}</label>
                            <ng-container *ngIf="!user?.imageName">
                                <img src="assets/demo/images/640751.png" alt="640751" class="profile-img" />
                            </ng-container>
                            <ng-container *ngIf="user?.imageName">
                                <img [src]="apiUrl + '/user/download/' + user?.imageName" [alt]="user?.imageName" class="profile-img" />
                            </ng-container>
                            <p-message *ngIf="(submitted || fileInputTouched) && !user?.imageName" severity="error" text="Please upload an image."></p-message>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveUser(userForm)" ></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteUserDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">AÊtes-vous sûr de vouloir supprimer  <b>{{user.username}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteUsersDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Êtes-vous sûr de vouloir supprimer les utilisateurs sélectionnés ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
        </div>
</div>
