<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/LOGO.png" alt="logo">
        <span>RTG</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <ng-container *ngIf="!userPhotoUrl">
            <img src="assets/demo/images/640751.png" alt="640751" width="45" class="shadow-4" style="border-radius: 55%;" />
        </ng-container>
        <ng-container *ngIf="userPhotoUrl">
            <img [src]="userPhotoUrl" [alt]="userPhotoUrl" width="45" class="shadow-4" style="border-radius: 55%;" />
        </ng-container>    
        <button class="p-link layout-topbar-button" [routerLink]="'/profile'">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/settings'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="p-menuitem-icon pi pi-fw pi-sign-out ng-star-inserted"></i>
            <span class="p-menuitem-text ng-star-inserted" data-pc-section="label">Quit</span>
        </button>
            
    </div>
</div>