<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedExecutions()" [disabled]="!selectedExecutions || !selectedExecutions.length"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="executions" [(selection)]="selectedExecutions" dataKey="id" [paginator]="true" [rows]="10" [globalFilterFields]="['fichierResultCollection', 'createdAt']" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gérer les Exécutions</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="fichierResultCollection">Fichier Collection <p-sortIcon field="fichierResultCollection"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">Créé le <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-execution>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="execution"></p-tableCheckbox>
                        </td>
                        <td>{{execution.id}}</td>
                        <td>{{execution.fichierResultCollection}}</td>
                        <td>{{ execution.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editExecution(execution)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteExecution(execution)"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info" (click)="navigateToExecutions(execution)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="executionDialog" [style]="{width: '450px'}" header="Détails de l'Exécution" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form #executionForm="ngForm" (ngSubmit)="saveExecution(executionForm)">
                    <div class="field">
                        <label for="fichierResultCollection">Fichier Collection :</label>
                        <input type="text" pInputText id="fichierResultCollection" placeholder="Fichier Collection" name="fichierResultCollection" [(ngModel)]="execution.fichierResultCollection" required disabled/>
                    </div>
                    <span class="p-buttonset">
                        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" type="submit" [disabled]="!executionForm.valid" disabled></button>
                    </span>
                </form>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExecutionDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Êtes-vous sûr de vouloir supprimer <b>{{execution.fichierResultCollection}}</b> ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteExecutionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteExecution()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExecutionsDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Êtes-vous sûr de vouloir supprimer les exécutions sélectionnées ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteExecutionsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
