<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button pButton pRipple label="Back" icon="pi pi-arrow-circle-left" class="p-button-help mr-2" (click)="goBack()"></button>
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNewVersion()"></button>
              <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedVersions()"></button>
            </div>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="versions" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [(selection)]="selectedVersions" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Manage Versions</h5>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="fichierOpenAPI">OpenAPI File <p-sortIcon field="fichierOpenAPI"></p-sortIcon></th>
              <th pSortableColumn="fichierPostmanCollection">Postman Collection File <p-sortIcon field="fichierPostmanCollection"></p-sortIcon></th>
              <th pSortableColumn="changes">Changes <p-sortIcon field="changes"></p-sortIcon></th>
              <th pSortableColumn="executions">Executions <p-sortIcon field="executions"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-version>
            <tr>
              <td>
                <p-tableCheckbox [value]="version"></p-tableCheckbox>
              </td>
              <td>{{ version.id }}</td>
              <td>
                <ng-container *ngIf="version.fichierOpenAPI; else noImage">
                  <img src="assets/demo/images/swagger.png" alt="OpenAPI File" width="40" class="shadow-4" style="border-radius: 50%; cursor: pointer;" (click)="downloadOpenAPIFile(version)" />
                </ng-container>
                <ng-template #noImage>No File</ng-template>
              </td>
              <td>              
              <ng-container *ngIf="version.fichierPostmanCollection; else noPostmanImage">
                <img src="assets/demo/images/postman.png" alt="Postman Collection File" width="40" class="shadow-4" style="border-radius: 50%; cursor: pointer;" (click)="downloadPostmanCollection(version)" />
              </ng-container>
              <ng-template #noPostmanImage>No File</ng-template>
              </td>              
              <td>{{ version.changes?.length }}</td>
              <td>{{ version.executions?.length }}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="ModifyVersion(version)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteVersion(version)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-dialog [(visible)]="deleteVersionDialog" header="Confirm Deletion" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span *ngIf="versionToDelete">Are you sure you want to delete this version?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="cancelDelete()"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog [(visible)]="deleteVersionsDialog" header="Confirm Deletion" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>Are you sure you want to delete the selected versions?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="cancelDeleteSelected()"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
  