<div class="text-uppercase" id="execution-menu">
    <h5>{{ totalIterations }} Itérations disponibles à visualiser</h5>
    <nav class="table-responsive">
        <ul class="nav single-line-tabs" id="iterationList" style="display: flex;">
          <li *ngFor="let iteration of totalIterationsArray; let i = index"
              (click)="selectIteration(i)"
              [ngClass]="{'active': selectedIteration === i, 'selected-iteration': selectedIteration === i}"
              class="custom-tab"
              style="border-bottom: 3px solid rgb(3, 42, 51); padding: 5px 10px; cursor: pointer;">
            {{i + 1}}
          </li>
        </ul>
    </nav> 
</div>
<br>

<div class="">
    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-lg-3 col-md-6">
            <p-button label="Résumé" icon="pi pi-users" styleClass="p-button-primary" (click)="loadContent('summary')"></p-button>
        </div>
        <div class="col-lg-3 col-md-6">
            <p-button label="Total des requêtes" icon="pi pi-list" styleClass="p-button-success" badge="{{RequestsTotal}}" badgeClass="p-badge-primary" (click)="loadContent('requests')"></p-button>
        </div>
        <div class="col-lg-3 col-md-6">
            <p-button label="Tests échoués" icon="pi pi-times-circle" styleClass="p-button-danger" badge="{{failedTests}}" badgeClass="p-badge-warning" (click)="loadContent('failedTests')"></p-button>
        </div>
        <div class="col-lg-3 col-md-6">
            <p-button label="Tests ignorés" icon="pi pi-info-circle" styleClass="p-button-warning" badge="{{testsSkipped}}" badgeClass="p-badge-secondary" (click)="loadContent('skippedTests')" ></p-button>
        </div>
    </div>
</div>
<br>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade active show" id="pills-summary" role="tabpanel" aria-labelledby="pills-summary-tab">
        <ng-container *ngIf="currentTab === 'summary'">
            <div class="row">
                <div class="col-md-9 col-lg-12 main">
                    <h1 class="display-2 text-center">Tableau de bord de l'exécution</h1>
                    <h5 class="text-center">{{formattedDate}}</h5>
                    <div class="row" style="display: flex; justify-content: space-between;">
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white card-success">
                                <div class="card-body bg-primary">
                                    <div class="rotate">
                                        <i class="fa fa-retweet fa-5x custom-size"></i>
                                    </div>
                                    <h6 class="text-uppercase" style="color: white;">Total des itérations</h6>
                                    <h1 class="display-1" style="color: white;">{{totalIterations}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white card-danger">
                                <div class="card-body bg-success">
                                    <div class="rotate">
                                        <i class="fa fa-list fa-4x custom-size"></i>
                                    </div>
                                    <h6 class="text-uppercase" style="color: white;">Total des assertions</h6>
                                    <h1 class="display-1" style="color: white;">{{totalAssertions}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white card-info">
                                <div class="card-body bg-danger">
                                    <div class="rotate">
                                        <i class="fa fa-plus-circle fa-5x custom-size"></i>
                                    </div>
                                    <h6 class="text-uppercase" style="color: white;">Total des tests échoués</h6>
                                    <h1 class="display-1" style="color: white;">{{failedTests}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card text-white card-warning">
                                <div class="card-body bg-warning">
                                    <div class="rotate">
                                        <i class="fa fa-share fa-5x custom-size"></i>
                                    </div>
                                    <h6 class="text-uppercase">Total des tests ignorés</h6>
                                    <h1 class="display-1">{{testsPending}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase text-white text-center bg-info">Informations et données du fichier</h5>
                                        <span>
                                            <svg style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                <path d="M384 121.9V128H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 97.9A24 24 0 0 1 384 121.9zM248 160c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248zM123.2 400.5a5.4 5.4 0 0 1 -7.6 .2l-64.9-60.8a5.4 5.4 0 0 1 0-7.9l64.9-60.8a5.4 5.4 0 0 1 7.6 .2l19.6 20.9a5.4 5.4 0 0 1 -.4 7.7L101.7 336l40.8 35.9a5.4 5.4 0 0 1 .4 7.7l-19.6 20.9zm51.3 50.5l-27.5-8a5.4 5.4 0 0 1 -3.7-6.7l61.4-211.6a5.4 5.4 0 0 1 6.7-3.7l27.5 8a5.4 5.4 0 0 1 3.7 6.7l-61.4 211.6a5.4 5.4 0 0 1 -6.7 3.7zm160.8-111l-64.9 60.8a5.4 5.4 0 0 1 -7.6-.2l-19.6-20.9a5.4 5.4 0 0 1 .4-7.7L284.4 336l-40.8-35.9a5.4 5.4 0 0 1 -.4-7.7l19.6-20.9a5.4 5.4 0 0 1 7.6-.2l64.9 60.8a5.4 5.4 0 0 1 0 7.9z"/>
                                            </svg>
                                        </span>
                                        <strong> Collection :</strong> {{CollectionName}}<br>
                                        <span><i class="pi pi-database"></i></span>
                                        <strong> Total des données reçues :</strong> {{TotalDataReceived}}<br>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase text-white text-center bg-info">Chronométrage</h5>
                                        <span><i class="pi pi-stopwatch"></i></span>
                                        <strong> Durée totale d'exécution :</strong> {{TotalRunDuration}}s<br>
                                        <span><i class="pi pi-stopwatch"></i></span>
                                        <strong> Temps de réponse moyen :</strong> {{AverageResponseTime}}ms<br>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <div class="table-responsive">
                                        <p-table [value]="summaryData" dataKey="item" [rows]="10" [loading]="loading" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th class="text-uppercase">Élément de résumé</th>
                                                    <th class="text-uppercase">Total</th>
                                                    <th class="text-uppercase">Échoué</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData>
                                                <tr [ngClass]="{'table-danger': rowData.item === 'Assertions'}">
                                                    <td>{{rowData.item}}</td>
                                                    <td>{{rowData.total}}</td>
                                                    <td>{{rowData.failed}}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="3">Aucune donnée trouvée.</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="loadingbody">
                                                <tr>
                                                    <td colspan="3">Chargement des données. Veuillez patienter.</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="currentTab === 'requests'">

            <div class="card">
                <div class="row" style="display: flex; justify-content: space-between;">
                    <button id="showOnlyFailures" class="btn btn-outline-success btn-sm float-right" style="text-align: center; width: 160px; display: block;" (click)="toggleShowOnlyFailures()">
                        {{ showOnlyFailures ? 'Réduire les itérations échouées' : 'Afficher les itérations échouées' }}
                    </button>
                    <!--<button id="openAll" class="btn btn-outline-success btn-sm float-right" style="text-align: center; width: 140px; display: block;">Développer les dossiers</button> -->
                    <button class="btn btn-outline-success btn-sm float-right" (click)="toggleExpandCollapse()" style="text-align: center; width: 140px; display: block;">
                        {{ isAllCollapsed ? 'Tout développer' : 'Tout réduire' }}
                    </button>
                </div>
            </div>
            
        
            <div class="tab-content" id="execution-data">
                <div *ngFor="let execution of paginatedExecutions ; let i = index" style="display: block;">
                    <div *ngIf="!showOnlyFailures || calculatePassPercentage(execution.assertions) < 100 " class="row iteration-0" style="display: block;">
                        <div class="col-sm-12 mb-3 iteration-0" style="display: block;">
                            <div class="card iteration-0" style="display: block;">
                                <div [ngClass]="{'bg-success': calculatePassPercentage(execution.assertions) === 100, 'bg-danger': calculatePassPercentage(execution.assertions) < 100}" class="card-header iteration-0" style="display: block;">
                                    <a (click)="toggleCollapse(i)" class="collapsed text-white z-block">
                                        Itération : {{ selectedIteration + 1 }} - {{execution.item.name}}
                                        <i class="float-lg-right fa" [ngClass]="{'float-lg-right fa fa-chevron-left': isCollapsed[i]}" *ngIf="isCollapsed[i]" style="padding-top: 3px;"></i>
                                        <i class="float-lg-right fa" [ngClass]="{'float-lg-right fa fa-chevron-down': !isCollapsed[i]}" *ngIf="!isCollapsed[i]" style="padding-top: 3px;"></i>
                                    </a>
                                </div>
                                <div [id]="'collapse-' + i" [ngClass]="{'collapse': isCollapsed[i], 'show': !isCollapsed[i]}">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6 mb-3">
                                                <div class="card-deck">
                                                    <div class="card border-info h-100">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-uppercase text-white text-center bg-info">Informations sur la requête</h5>
                                                            <span><i class="pi pi-info-circle"></i></span><strong> Méthode de la requête :</strong> <span class="badge-outline-success badge badge-success" style="color: black;" > {{execution.item.request.method}}</span><br>
                                                            <span><i class="pi pi-info-circle"></i></span><strong> URL de la requête :</strong> <a href="{{constructCompletedPath(execution.item.request.url)}}" style="color: black;"> {{constructCompletedPath(execution.item.request.url)}}</a><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-3">
                                                <div class="card-deck">
                                                    <div class="card border-info h-100">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-uppercase text-white text-center bg-info">Informations sur la réponse</h5>
                                                            <span><i class="pi pi-info-circle"></i></span><strong> Code de réponse :</strong> <span class="float-right badge-outline badge badge-success" style="color: black;"> {{execution.response.code}} - {{execution.response.status}}</span><br>
                                                            <span><i class="pi pi-stopwatch"></i></span><strong> Temps moyen par requête :</strong> <span class="float-right badge-outline badge badge-success" style="color: black;"> {{execution.response.responseTime}} ms</span><br>
                                                            <span><i class="pi pi-database"></i></span><strong> Taille moyenne par requête :</strong> <span class="float-right badge-outline badge badge-success" style="color: black;"> {{formatBytes(execution.response.responseSize)}}</span><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                            <div class="col-sm-12 mb-3">
                                                <div class="card-deck">
                                                    <div class="card border-info" >
                                                        <div class="card-body">
                                                            <h5 class="card-title text-uppercase text-white text-center bg-info">Pourcentage de réussite des tests</h5>
                                                            <div>
                                                                <div class="progress" style="height: 40px;">
                                                                    <div 
                                                                    [ngClass]="{'bg-success': calculatePassPercentage(execution.assertions) === 100, 'bg-danger': calculatePassPercentage(execution.assertions) < 100}" 
                                                                    class="progress-bar  bg-danger"  role="progressbar" style="width: 100%; display: flex; justify-content: center;" >
                                                                    <h5 style="padding-top:5px;color: white;"><strong>{{ calculatePassPercentage(execution.assertions).toFixed(0) }} %</strong></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                            <div class="col-sm-12 mb-3">
                                                <div class="card-deck">
                                                <div class="card border-info" >
                                                    <div class="card-body">
                                                        <h5 class="card-title text-uppercase text-white text-center bg-info">En-têtes de la requête</h5>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered">
                                                            <thead class="thead-light text-center"><tr><th>Nom de l'en-tête</th><th>Valeur de l'en-tête</th></tr></thead>
                                                                <tbody>
                                                                    <tr *ngFor="let ReqHeader of execution.request.header;">
                                                                        <td class="text-nowrap text-center">{{ReqHeader.key}}</td>
                                                                        <td class="text-wrap text-center">{{ReqHeader.value}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-3" *ngIf="execution.item.request.body">
                                                <div class="card-deck">
                                                <div class="card border-info">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-uppercase text-white text-center bg-info">Corps de la requête</h5>
                                                        <div class="dyn-height">
                                                            <pre>
                                                                <code class="prettyPrint hljs json">
                                                                    {{ execution.item.request.body && getPrettyJson(execution.item.request.body.raw) }}                                                         
                                                                </code>
                                                            </pre>
                                                        </div>
                                                        <div class="card-footer">
                                                            <button class="btn btn-outline-secondary btn-sm copyButton" type="button" (click)="copyToClipboard(getPrettyJson(execution.item.request.body.raw))">Copier dans le presse-papiers</button>
                                                        </div>
                                                    </div>                                                      
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-3">
                                                <div class="card-deck">
                                                    <div class="card border-info">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-uppercase text-white text-center bg-info">En-têtes de la réponse</h5>
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                <thead class="thead-light text-center"><tr><th>Nom de l'en-tête</th><th>Valeur de l'en-tête</th></tr></thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let RespHeader of execution.response.header;" >
                                                                            <td class="text-nowrap text-center">{{RespHeader.key}}</td>
                                                                            <td class="text-wrap text-center">{{RespHeader.value}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-3" *ngIf="execution.response.stream.data">
                                                <div class="card-deck">
                                                <div class="card border-info">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-uppercase text-white text-center bg-info">Corps de la réponse</h5>
                                                            <div class="dyn-height">
                                                                <pre>
                                                                    <code class="prettyPrint hljs json">
                                                                        {{parseJsonFromStream(execution.response.stream.data)}}
                                                                    </code>
                                                                </pre>
                                                            </div>
                                                            <div class="card-footer">
                                                                <button class="btn btn-outline-secondary btn-sm copyButton" type="button" (click)="copyToClipboard(parseJsonFromStream(execution.response.stream.data))">Copier dans le presse-papiers</button>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-3" *ngIf="execution.item.event[0].script">
                                                <div class="card-deck">
                                                <div class="card border-info">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-uppercase text-white text-center bg-info">Script de test</h5>
                                                        <div class="dyn-height">
                                                            <pre>
                                                                <code class="prettyPrint hljs json">
                                                                    {{execution.item.event[0].script.exec}}                                                      
                                                                </code>
                                                            </pre>
                                                        </div>
                                                        <div class="card-footer">
                                                            <button class="btn btn-outline-secondary btn-sm copyButton" type="button" (click)="copyToClipboard(execution.item.event[0].script.exec.join('\n'))">Copier dans le presse-papiers</button>
                                                        </div>
                                                    </div>                                                      
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card border-info">
                                                <div class="card-body">
                                                <h5 class="card-title text-uppercase text-white text-center bg-info">Informations sur le test</h5>
                                                    <div class="table-responsive text-nowrap">
                                                        <div id="DataTables_Table_68_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <table class="datatable table table-hover dataTable" id="DataTables_Table_68" role="grid">
                                                                        <thead><tr class="text-center" role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_68" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nom : activer pour trier la colonne par ordre décroissant" style="width: 0px;">Nom</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_68" rowspan="1" colspan="1" aria-label="Réussi : activer pour trier la colonne par ordre croissant" style="width: 0px;">Réussi</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_68" rowspan="1" colspan="1" aria-label="Échoué : activer pour trier la colonne par ordre croissant" style="width: 0px;">Échoué</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_68" rowspan="1" colspan="1" aria-label="Ignoré : activer pour trier la colonne par ordre croissant" style="width: 0px;">Ignoré</th></tr></thead>
                                                                        <tbody>
                                                                            <tr role="row" *ngFor="let assert of execution.assertions">
                                                                                <td class="text-center sorting_1">{{ assert.assertion }}</td>
                                                                                <td class="text-center" [ngClass]="{ 'bg-success': !assert.skipped && !assert.error }">{{ !assert.skipped && !assert.error ? 1 : 0 }}</td>
                                                                                <td class="text-center" [ngClass]="{ 'bg-danger': assert.error }">{{ assert.error ? 1 : 0 }}</td>
                                                                                <td class="text-center" [ngClass]="{ 'bg-warning': assert.skipped }">{{ assert.skipped ? 1 : 0 }}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr class="bg-light">
                                                                                <td class="text-center" rowspan="1" colspan="1"><strong>Total</strong></td>
                                                                                <td class="text-center" rowspan="1" colspan="1">{{ getTotal(execution.assertions, 'passed') }}</td>
                                                                                <td class="text-center" rowspan="1" colspan="1">{{ getTotal(execution.assertions, 'failed') }}</td>
                                                                                <td class="text-center" rowspan="1" colspan="1">{{ getTotal(execution.assertions, 'skipped') }}</td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>    
                                            </div>
                                            <div class="row" *ngIf="getTotal(execution.assertions, 'failed') > 0">
                                                <div class="col-sm-12 mb-3">
                                                    <div class="card-deck">
                                                        <div class="card border-danger">
                                                            <div class="card-body">
                                                                <h5 class="card-title text-uppercase text-white text-center bg-danger">Échec des tests</h5>
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover">
                                                                        <thead>
                                                                            <tr class="text-nowrap">
                                                                                <th  class="text-center">Nom du test</th>
                                                                                <th  class="text-center">Erreur d'assertion</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let assert of execution.assertions">
                                                                                <ng-container *ngIf="assert.error">
                                                                                    <td class="text-center w-45 text-nowrap">{{ assert.assertion }}</td>
                                                                                    <td class="text-center w-55">
                                                                                        <pre><code class="hljs apache">{{ assert.error.message }}</code></pre>
                                                                                    </td>
                                                                                </ng-container>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-paginator [rows]="rows" [totalRecords]="executions.length" [rowsPerPageOptions]="[5, 10, 20]" (onPageChange)="paginate($event)"></p-paginator>
        
        </ng-container>
        



        <ng-container *ngIf="currentTab === 'failedTests'">
            <div class="card">
                <div class="row" style="display: flex; justify-content: space-between;">
                    <button class="btn btn-outline-success btn-sm float-right" (click)="toggleExpandCollapse()" style="text-align: center; width: 140px; display: block;">
                        {{ isAllCollapsed ? 'Afficher les tests échoués' : 'Réduire les tests échoués' }}
                    </button>
                </div>
            </div>
            <div class="alert bg-danger text-uppercase text-center">
                <h4>Affichage de {{failedTests}} échecs</h4>
            </div>
            <div class="tab-content" id="execution-data">
                <div *ngFor="let failure of Data.run.failures; let i = index" style="display: block;">
                    <div class="row iteration-0" style="display: block;">
                        <div class="col-sm-12 mb-3 iteration-0" style="display: block;">
                            <div class="card card-body" style="display: block;">
                                <div class="card-header bg-danger iteration-0" style="display: block;">
                                    <a (click)="toggleCollapse(i)" class="collapsed text-white z-block">
                                        Itération : {{ (selectedIteration != null ? selectedIteration + 1 : "N/A") }} - 
                                        {{ (failure.error != null && failure.error.name != null ? failure.error.name : "N/A") }} - 
                                        {{ (failure.parent != null && failure.parent.info != null && failure.parent.info.name != null ? failure.parent.info.name : Data.collection.info.name) }} - 
                                        {{ (failure.source != null && failure.source.name != null ? failure.source.name : "N/A") }}
        
                                        <i class="float-lg-right fa" [ngClass]="{'float-lg-right fa fa-chevron-left': isCollapsed[i]}" *ngIf="isCollapsed[i]" style="padding-top: 3px;"></i>
                                        <i class="float-lg-right fa" [ngClass]="{'float-lg-right fa fa-chevron-down': !isCollapsed[i]}" *ngIf="!isCollapsed[i]" style="padding-top: 3px;"></i>
                                    </a>
                                </div>
                                <div [id]="'collapse-' + i" [ngClass]="{'collapse': isCollapsed[i], 'show': !isCollapsed[i]}">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 mb-3">
                                                <div class="card-deck">
                                                    <div class="card border-info h-100">
                                                        <div class="card-body">
                                                            <h5><strong>Test échoué :</strong> </h5>
                                                            <hr>
                                                            <h5 class="card-title text-uppercase text-white text-center bg-danger">Message d'erreur d'assertion</h5>
                                                            <div>
                                                                <pre>
                                                                    <code id="copyTestText-{{i}}" class="prettyPrint hljs json">
                                                                        {{failure.error.message}}                                                   
                                                                    </code>
                                                                </pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'skippedTests'">
            <div class="tab-pane fade active show" id="pills-skipped" role="tabcard" aria-labelledby="pills-skipped-tab">
                <button id="topOfSkippedScreen" class="btn btn-outline-success btn-sm backToTop" onclick="topFunction()" style="display: none;">Go To Top</button>

                <div class="alert alert-warning text-uppercase text-center">
                    <br><br><h1 class="text-center">Il n'y a aucun test ignoré <span><i class="far fa-thumbs-up"></i></span></h1><br><br>
                </div>
            </div>
        </ng-container>



    </div>
</div>

