.status-DELETE {
    background-color: #d32f2f;
    color: white;
  }
  
  .status-POST {
    background-color: #689f38;
    color: white;
  }
  
  .status-GET {
    background-color: #2196F3;
    color: white;
  }
  
  .status-PUT {
    background-color: #fbc02d;
    color: white;
  }
  
  .status-DEFAULT {
    background-color: grey;
    color: white;
  }
  
  .card-title-bg-custom {
    background-color: #2196F3; 
    color: #FFFFFF;
  }